<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>
<body>
    <header>

    </header>
    <main>
        <div class="edit-img-container">
            <form action="/expense/<%=expense._id%>?_method=PUT" method="post">
                    <label>Title: <input type="text" name="title" value="<%=expense.title %>" placeholder="enter title"/></label>
                    <!-- <label>Ctegory: <input type="text" name="category" value="<%=expense.category%>" placeholder="enter title"/></label> -->
                    <label>Category:</label>
                        <select class='drop-edit' name="category">
                            <option value="Food" <%= expense.category === 'Food' ? 'selected' : '' %>>Food</option>
                            <option value="Utilities" <%= expense.category === 'Utilities' ? 'selected' : '' %>>Utilities</option>
                            <option value="Insurance" <%= expense.category === 'Insurance' ? 'selected' : '' %>>Insurance</option>
                        </select>
                    
                    <label>Amount: $<input type="number" step="any" name="amount"   value="<%=expense.amount%>" placeholder="enter amount"/></label>
                    <label>Date: <input type="date" name="date" value="<%=expense.date%>"/></label>
                    <label>Receipt Image: <input type="text" name="receipt" value="<%=expense.receipt%>" placeholder="attach receipt image" /></label>
                    <label>Description: <input type="text" name="description" value="<%=expense.description %>" placeholder="enter description"/></label>
                    <input class="edit-frm-edit" type="submit" value="Edit" />
            </form>
        </div>
    </main>
</body>
</html>