<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>
<body>
    <header class="img-container">
            <img src="/images/index.png">
    </header>
    <main>
        <div class="body-container">
        <% for (expense of expenses){%>
            <article>
                <a href="/expense/<%=expense._id%>">
                    <h2> Expense Title : <%= expense.title%></h2>
                    <hr>
                </a>
                <!-- <h3>Receipt Image: <img src="<%= expense.receipt %>" alt="Receipt Image"></h3>
                <h3>image <%= expense.receipt %></h3> -->
            </article>
        <%}%>
       
        </div>
        <div class="btn-container">
            <a href="/expense/new"><button class="btn-log">New Expense</button></a>
            <a href="/user/logout"><button class="btn-log">Logout</button></a>
        </div>
       
    </main>
</body>
</html>