<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>
<body>
    <header>
         <header class="img-container">
            <img src="/images/index.png">
    </header>
    </header>
    <main>
        <div class="show-body-container">
                <div class="show-btn-container">
                    <a href="/expense"><button class="btn-log"> Main</button></a>
                    <a href="/expense/<%= expense._id %>/edit"><button class="btn-log"> Edit</button></a>
                </div>
                <hr>
                <div class="show-img-container">
                    <h4><span>Title:</span> <%=expense.title %></h4>
                    <div class="show-image-receip">
                        <img class="img-receipt" src="<%= expense.receipt %>" alt="Receipt Image">
                    </div>
                   
                </div>
                <div>
                    <h4><span>Ctegory:</span> <%=expense.category %></h34>
                    <h4><span>Price:</span>$ <%=expense.amount %></h4>
                    <h4><span>Date:</span> <%=expense.date %></h4>
                    <h4><span>Description:</span> <%=expense.description %></h4>
                    <hr>
                    <form class='show-frm-delete' action="/expense/<%=expense._id%>?_method=DELETE" method="Post">
                        <input  type="submit" value="delete" />
                    </form>
                </div>
        </div>
    </main>
</body>
</html>