<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>
<body>
    <header>
    </header>
    <main>
        <h2>Title: <%=expense.title %></h2>
        <h3>Ctegory: <%=expense.category %></h3>
        <h3>Amount: <%=expense.amount %></h3>
        <h3>Date: <%=expense.date %></h3>
        <h3>Receipt Image: <img src="<%= expense.receipt %>" alt="Receipt Image"></h3>
        <h3>image <%= expense.receipt %></h3>

        <h3>Description: <%=expense.description %></h3>

        <form action="/expense/<%=expense._id%>?_method=DELETE" method="Post">
            <input type="submit" value="delete" />
        </form>
        <a href="/expense/index"><button>Back To Main</button></a>
        <a href="/expense/<%= expense._id %>/edit"><button> Edit</button></a>

    </main>
</body>
</html>